In [1]:
# Q1 Ans :


import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Q2 Ans :

import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
# Q3 Ans :

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
# Q4 Ans :

"""
In Pandas, a DataFrame is a two-dimensional labeled data structure that can hold data of different types (numeric, string, boolean, etc.). 
It is like a spreadsheet or a SQL table, where data is organized in rows and columns. 
Each column in a DataFrame is a Pandas series, which is a one-dimensional labeled array capable of holding data of the same type.

The main differences between a Pandas DataFrame and a Pandas Series are as follows:

A Pandas Series is a one-dimensional data structure that can hold data of any type,
whereas a Pandas DataFrame is a two-dimensional data structure that can hold data of multiple types.

A Pandas Series has a single index, 
while a Pandas DataFrame has two indices - row and column indices.

A Pandas Series can be thought of as a single column of a Pandas DataFrame.

Here's an example that demonstrates the differences between a Pandas Series and a Pandas DataFrame:
"""



# Creating a Pandas Series
s = pd.Series([1, 2, 3, 4, 5])

# Creating a Pandas DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
})

print("Pandas Series:")
print(s)
print("\n")

print("Pandas DataFrame:")
print(df)

Pandas Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64


Pandas DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
# Q5 Ans :

"""
1)Pandas DataFrame provides a rich set of functions to manipulate, transform, and analyze data. 
Some common functions to manipulate data in a Pandas DataFrame are:

head() and tail(): These functions are used to view the first and last few rows of the DataFrame, respectively.
For example, to view the first five rows of a DataFrame, you can use the head() function as follows:

df.head()

2)describe(): This function is used to get a summary of the DataFrame, including count, mean, standard deviation, minimum, 
and maximum values for each column.
For example, to get a summary of the DataFrame, you can use the describe() function as follows:

df.describe()

3)groupby(): This function is used to group data based on one or more columns and perform aggregate functions on the groups.
For example, to group data by the "Gender" column and get the average age for each group, 
you can use the groupby() function as follows:

df.groupby('Gender')['Age'].mean()

4)sort_values(): This function is used to sort the DataFrame by one or more columns.
For example, to sort the DataFrame by the "Age" column in descending order, 
you can use the sort_values() function as follows:

df.sort_values('Age', ascending=False)

5)drop(): This function is used to drop rows or columns from the DataFrame.
For example, to drop the "Age" column from the DataFrame, you can use the drop() function as follows:

df.drop('Age', axis=1)


"""

In [6]:
# Q6 Ans :
"""
In pandas, both Series and DataFrame are mutable, 
which means that their values can be modified after they are created. However, Panel is not mutable, and in fact, 
it has been deprecated since version 0.25.0 of pandas. 
The recommended way to work with 3-dimensional data is to use a MultiIndex DataFrame.
"""

'\nIn pandas, both Series and DataFrame are mutable, \nwhich means that their values can be modified after they are created. However, Panel is not mutable, and in fact, \nit has been deprecated since version 0.25.0 of pandas. \nThe recommended way to work with 3-dimensional data is to use a MultiIndex DataFrame.\n'

In [7]:
 #Q7 Ans :
"""
To create a DataFrame using multiple Series, we can pass the Series objects as a dictionary to the pd.DataFrame() function.
The dictionary keys will become the column names, and the values will become the Series data.

Here is an example code snippet:
"""
import pandas as pd

# create the first Series
name = pd.Series(["John", "Sara", "Mike", "Kim"])

# create the second Series
age = pd.Series([28, 25, 32, 21])

# create the third Series
country = pd.Series(["USA", "Canada", "Australia", "UK"])

# create the DataFrame using the dictionary of Series
df = pd.DataFrame({"Name": name, "Age": age, "Country": country})

# print the resulting DataFrame
print(df)

   Name  Age    Country
0  John   28        USA
1  Sara   25     Canada
2  Mike   32  Australia
3   Kim   21         UK