In [ ]:
# Q 1 Ans :

"""
1)read_csv(): This function is used to read a CSV file and convert it into a pandas DataFrame.

import pandas as pd

# Reading CSV file
df = pd.read_csv('my_csv_file.csv')

# Printing the first 5 rows of the DataFrame
print(df.head())

2)describe(): This function provides summary statistics of the DataFrame 
like count, mean, standard deviation, minimum and maximum values, and quartiles.

import pandas as pd

# Creating a sample DataFrame
df = pd.DataFrame({
   'A': [1, 2, 3],
   'B': [4, 5, 6],
   'C': [7, 8, 9]
})

# Using describe function to get summary statistics
print(df.describe())

3)groupby(): This function is used to group data based on one or more columns,
and then perform aggregate functions like sum, mean, or count on each group

import pandas as pd

# Creating a sample DataFrame
df = pd.DataFrame({
   'Name': ['John', 'Mary', 'Peter', 'John', 'Peter'],
   'Age': [25, 30, 35, 40, 45],
   'Salary': [5000, 6000, 7000, 8000, 9000]
})

# Grouping by name and getting mean of salary
grouped_data = df.groupby('Name')['Salary'].mean()

# Printing the grouped data
print(grouped_data)

4)merge(): This function is used to merge two DataFrames based on a common column.

import pandas as pd

# Creating two sample DataFrames
df1 = pd.DataFrame({
   'ID': [1, 2, 3, 4],
   'Name': ['John', 'Mary', 'Peter', 'David']
})

df2 = pd.DataFrame({
   'ID': [1, 2, 3, 5],
   'Salary': [5000, 6000, 7000, 8000]
})

# Merging the two DataFrames
merged_df = pd.merge(df1, df2, on='ID')

# Printing the merged DataFrame
print(merged_df)

5)pivot_table(): This function is used to create a pivot table based on the data in the DataFrame.

import pandas as pd

# Creating a sample DataFrame
df = pd.DataFrame({
   'Name': ['John', 'Mary', 'Peter', 'John', 'Peter'],
   'Age': [25, 30, 35, 40, 45],
   'Salary': [5000, 6000, 7000, 8000, 9000]
})

# Creating pivot table
pivot_table = df.pivot_table(values='Salary', index='Name', columns='Age')

# Printing the pivot table
print(pivot_table)

"""

In [4]:
# Q 2 Ans :

import pandas as pd

def reindex_dataframe(df):
    # Creating a new index using range and multiplying it by 2
    new_index = pd.RangeIndex(start=1, stop=2*len(df), step=2)
    # Re-indexing the DataFrame with the new index
    df = df.reindex(new_index)
    # Returning the re-indexed DataFrame
    return df

import pandas as pd

# Creating a sample DataFrame
df = pd.DataFrame({
   'A': [1, 2, 3],
   'B': [4, 5, 6],
   'C': [7, 8, 9]
})

# Re-indexing the DataFrame using the reindex_dataframe function
df = reindex_dataframe(df)

# Printing the re-indexed DataFrame
print(df)

     A    B    C
1  2.0  5.0  8.0
3  NaN  NaN  NaN
5  NaN  NaN  NaN

In [7]:
# Q 3 Ans :

import pandas as pd

def calculate_sum(df):
    # Initializing a variable to hold the sum
    sum_values = 0
    # Iterating over the first three values in the 'Values' column
    for value in df['Values'].iloc[:3]:
        # Adding each value to the sum
        sum_values += value
    # Printing the sum to the console
    print("The sum of the first three values in the 'Values' column is:", sum_values)


# Creating a sample DataFrame
df = pd.DataFrame({
   'Values': [20, 20, 60, 120, 150]
})

# Calling the calculate_sum function
calculate_sum(df)

The sum of the first three values in the 'Values' column is: 100

In [9]:
# Q 4 Ans :
import pandas as pd

def add_word_count_column(df):
    # Splitting the 'Text' column by spaces to get a list of words for each row
    words_list = df['Text'].str.split()
    # Counting the number of words in each row and adding it as a new column
    df['Word_Count'] = words_list.apply(len)
    # Returning the DataFrame with the new column
    return df

import pandas as pd

# Creating a sample DataFrame
df = pd.DataFrame({
   'Text': ['Abhishek chintamani hatrote', 'Ajit a Hatrote', 'Suraj a hatrote']
})

# Adding the 'Word_Count' column using the add_word_count_column function
df = add_word_count_column(df)

# Printing the updated DataFrame
print(df)

                          Text  Word_Count
0  Abhishek chintamani hatrote           3
1               Ajit a Hatrote           3
2              Suraj a hatrote           3

In [ ]:
# Q 5 Ans :
"""
Both DataFrame.size and DataFrame.
shape are attributes of a pandas DataFrame object that can be used to obtain information about the dimensions of the DataFrame. 
However, there is a difference in the type of information that they provide.

DataFrame.size returns the total number of elements in the DataFrame, which is the product of the number of rows and columns. 
It returns an integer value.

DataFrame.shape returns a tuple that contains the number of rows and columns in the DataFrame, respectively. 
It returns a tuple of integers.
"""

In [ ]:
# Q 6 Ans :
"""
The function that is commonly used in pandas to read an Excel file is pandas.read_excel(). 
This function can read an Excel file and create a pandas DataFrame object from it.

Here's an example code snippet that demonstrates how to use pandas.read_excel() to read an Excel file:
import pandas as pd

# Reading an Excel file named 'example.xlsx' and creating a DataFrame
df = pd.read_excel('example.xlsx')

# Displaying the DataFrame
print(df.head())

"""

In [10]:
# Q 7 Ans :
import pandas as pd

def extract_username(df):
    # Extracting the username from each email address in the 'Email' column
    df['Username'] = df['Email'].str.split('@').str[0]
    return df
# Creating a sample DataFrame
df = pd.DataFrame({
   'Email': ['john.doe@example.com', 'jane.smith@example.com']
})

# Applying the function to extract the usernames and create a new 'Username' column
df = extract_username(df)

# Displaying the updated DataFrame
print(df.head())

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith

In [11]:
# Q 8 Ans :
import pandas as pd

def select_rows(df):
    # Selecting rows where 'A' > 5 and 'B' < 10
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows
# Creating a sample DataFrame
df = pd.DataFrame({
   'A': [3, 8, 6, 2, 9],
   'B': [5, 2, 9, 3, 1],
   'C': [1, 7, 4, 5, 2]
})

# Applying the function to select rows where 'A' > 5 and 'B' < 10
selected_rows = select_rows(df)

# Displaying the selected rows
print(selected_rows.head())

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [12]:
# Q 9 Ans :

import pandas as pd

def calculate_stats(df):
    # Calculating mean, median, and standard deviation of the 'Values' column
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    
    # Printing the results
    print('Mean:', mean)
    print('Median:', median)
    print('Standard Deviation:', std_dev)
# Creating a sample DataFrame
df = pd.DataFrame({
   'Values': [3, 5, 2, 8, 6, 7, 4, 9]
})

# Applying the function to calculate mean, median, and standard deviation of the 'Values' column
calculate_stats(df)

Mean: 5.5
Median: 5.5
Standard Deviation: 2.449489742783178

In [19]:
# Q 10 Ans :


import pandas as pd

def calculate_moving_average(df):
    # Sorting the DataFrame by date
    df = df.sort_values('Date')
    
    # Calculating the rolling mean with a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    # Returning the DataFrame with the moving average column added
    return df
# Creating a sample DataFrame
df = pd.DataFrame({
   'Date': pd.date_range(start='2022-01-01', end='2022-01-30'),
   'Sales': [10, 12, 15, 20, 18, 22, 25, 24, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70]
})

# Applying the function to calculate the moving average
df_with_moving_avg = calculate_moving_average(df)
print(df_with_moving_avg)

         Date  Sales  MovingAverage
0  2022-01-01     10      10.000000
1  2022-01-02     12      11.000000
2  2022-01-03     15      12.333333
3  2022-01-04     20      14.250000
4  2022-01-05     18      15.000000
5  2022-01-06     22      16.166667
6  2022-01-07     25      17.428571
7  2022-01-08     24      19.428571
8  2022-01-09     28      21.714286
9  2022-01-10     30      23.857143
10 2022-01-11     32      25.571429
11 2022-01-12     34      27.857143
12 2022-01-13     36      29.857143
13 2022-01-14     38      31.714286
14 2022-01-15     40      34.000000
15 2022-01-16     42      36.000000
16 2022-01-17     44      38.000000
17 2022-01-18     46      40.000000
18 2022-01-19     48      42.000000
19 2022-01-20     50      44.000000
20 2022-01-21     52      46.000000
21 2022-01-22     54      48.000000
22 2022-01-23     56      50.000000
23 2022-01-24     58      52.000000
24 2022-01-25     60      54.000000
25 2022-01-26     62      56.000000
26 2022-01-27     64      58.000000
27 2022-01-28     66      60.000000
28 2022-01-29     68      62.000000
29 2022-01-30     70      64.000000

In [25]:
# Q 11 Ans :
import pandas as pd


def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

df = pd.DataFrame({
   'Date': pd.date_range(start='2022-01-01', end='2022-01-05')}

SyntaxError: incomplete input (2694868578.py, line 10)

In [27]:
# Q 12 Ans :
import pandas as pd

def select_january_data(df):
    
    start_date = pd.Timestamp('2023-01-01')
    end_date = pd.Timestamp('2023-01-31')
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df.loc[mask]
selected_data = select_january_data(df)

KeyError: 'Date'

In [29]:
# Q 13 Ans :

"""
e first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. 
The import statement for pandas is typically written as follows:


import pandas as pd


This statement imports the pandas library and aliases it as pd, which is a commonly used alias for pandas in the Python community.
"""

'\ne first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. \nThe import statement for pandas is typically written as follows:\n\n\nimport pandas as pd\n\n\nThis statement imports the pandas library and aliases it as pd, which is a commonly used alias for pandas in the Python community.\n'